<div class="main">
      <div class="container text-center mt-5">
      <h2 class="display-7 text-white mb-4">Go to Accounts Page</h2>
      <%= link_to "Accounts page", "accounts", class: "btn btn-dark text-white btn-outline btn-lg" %>
      </div><br><br><br>

      <div class="container text-center text-white pb-3 pt-5" style="height: 200px;">
            <p>
                  <h5 style="font-size: 20px; font-style: italic;">Welcome to the Accounts Webiste developed by: Atharva Kadam<br></h5>
                  <h5 style="font-size: 20px; font-style: italic;">Language: Ruby on Rails</h5>
            </p>
      </div>           
</div>      
