<div class="container-fluid-bg">
  <div class="bg-image p-5 text-center text-white pb-3" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); height: 100vh;">
    <div class="container-fluid" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp'); height: 400px; width: 700px;">  
      <p>
        <h3 class="mb-3 h2">Go to Accounts Page</h3>
        <%= link_to "Accounts page", "accounts", class: "btn btn-primary " %>
      </p>
    </div> 
</div>
</div