<div class="main">
      <div class="container text-center mt-5">
      <h3 class="display-5 text-white mb-4">Go to Accounts Page</h3>
      <%= link_to "Accounts page", "accounts", class: "btn btn-dark text-white btn-outline " %>
      </div><br><br><br><br><br>

      <div class="container text-center text-white bg-dark pb-3 pt-5" style="height: 200px;">
            <p>
                  <h5>Welcome to the Accounts Webiste developed by: Atharva Kadam<br></h5>
                  <h5>Language: Ruby on Rails</h5>
            </p>
      </div>           
</div>      