<div class="container test-center">
  <div class="card text-center bg-dark">
  <div class="card-header bg-dark text-white">
    <strong>Account Details</strong>
  </div>
  <ul class="list-group list-group-flush  bg-dark">
    <strong><li class="list-group-item bg-dark text-white">First Name: </strong><%= account.first_name %></li>
    <strong><li class="list-group-item bg-dark text-white">Last Name: </strong><%= account.last_name %></li>
    <strong><li class="list-group-item bg-dark text-white">Balance : </strong><%= account.balance %></li>
    <strong><li class="list-group-item bg-dark text-white">Email:  </strong><%= account.email %></li>
  </ul>
  </div>
</div>