<div class="card text-center" style="align-center; width: 30rem; background: dark;">
  <div class="card-header bg-dark">
    <strong>Account Details</strong>
  </div>
  <ul class="list-group list-group-flush bg-dark">
    <strong><li class="list-group-item">First Name: </strong><%= account.first_name %></li>
    <strong><li class="list-group-item">Last Name: </strong><%= account.last_name %></li>
    <strong><li class="list-group-item">Balance : </strong><%= account.balance %></li>
    <strong><li class="list-group-item">Email:  </strong><%= account.email %></li>
  </ul>
</div>