<div class="container">
  <h2 class="text-white text-center mt-5">Editing account</h2>
  <%= render "form", account: @account %>

  <br>
  <%= link_to "Back to accounts", accounts_path, class: "btn btn-dark" %>
</div>