
<div class="container">
  <h2 class="text-white text-center">New account</h2><br>
  <%= render "form", account: @account %>
  <br><br><br><br>

  <%= link_to "Back to accounts", @account, class: "btn btn-dark" %>
</div>