<div class="container">
    <%= form_with do |form| %>
        <div>
            <br><br><br><h5 class="text-left" id="amount">Amount:</h3>
            <input type="text" class="form-control" id="amount" aria-describedby="emailHelp">
        </div>

        <div>
        <br>
        <%= link_to "Credit", deposit_account_path(@account,1000), class: "btn btn-dark" %>   
        <%= link_to "Debit", withdraw_account_path(@account,5000), class: "btn btn-dark" %>  

        <br><br><br><%= link_to "Back to Account", account_path(@account), class: "btn btn-dark"%>
        </div>
    <% end %>
</div>